@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<link href="~/Content/element-ui.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="~/Scripts/element-ui.js"></script>
<script src="~/Scripts/axios.js"></script>
<link href="~/Content/layui.css" rel="stylesheet" />
<script src="~/Content/layui.js"></script>
<style>
    .el-table .warning-row {
        background: red;
    }

    .el-table .success-row {
        background: yellow;
    }
</style>
<div id="app">
    <template>
        <el-tabs v-model="activeName" @@tab-click="handleClick">
            <el-tab-pane label="全部订单" name="first">
                <template>
                    <el-table :data="sites"
                              style="width: 100%"
                              height="550"
                              :row-class-name="tableRowClassName">
                        <el-table-column prop="OrderNumber"
                                         label="订单号"
                                         fixed="left"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="UserId"
                                         label="用户ID"
                                         width="70">
                        </el-table-column>
                        <el-table-column prop="Freight"
                                         label="运费"
                                         width="70">
                        </el-table-column>
                        <el-table-column prop="OrderState"
                                         label="订单状态"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="TurePrice"
                                         label="价格"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="PaymentTime"
                                         label="下单时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="ShipmentTime"
                                         label="付钱时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="HarvestTime"
                                         label="签收时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column fixed="right"
                                         label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini"
                                           @@click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                <el-button size="mini"
                                           type="danger"
                                           @@click="handleDelete(scope.$index, scope.row)">删除</el-button>
                            </template>z
                        </el-table-column>
                    </el-table>
                </template>
            </el-tab-pane>
            <el-tab-pane label="代发货" name="second">
                <template>
                    <el-table :data="sites"
                              style="width: 100%"
                              height="550"
                              :row-class-name="tableRowClassName">
                        <el-table-column prop="OrderNumber"
                                         label="订单号"
                                         fixed="left"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="UserId"
                                         label="用户ID"
                                         width="70">
                        </el-table-column>
                        <el-table-column prop="Freight"
                                         label="运费"
                                         width="70">
                        </el-table-column>
                        <el-table-column prop="OrderState"
                                         label="订单状态"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="TurePrice"
                                         label="价格"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="PaymentTime"
                                         label="下单时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="ShipmentTime"
                                         label="付钱时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="HarvestTime"
                                         label="签收时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column fixed="right"
                                         label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini"
                                           @@click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                <el-button size="mini"
                                           type="danger"
                                           @@click="handleDelete(scope.$index, scope.row)">删除</el-button>
                            </template>z
                        </el-table-column>
                    </el-table>
                </template>
            </el-tab-pane>
            <el-tab-pane label="已发货" name="third">
                <template>
                    <el-table :data="sites"
                              style="width: 100%"
                              height="550"
                              :row-class-name="tableRowClassName">
                        <el-table-column prop="OrderNumber"
                                         label="订单号"
                                         fixed="left"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="UserId"
                                         label="用户ID"
                                         width="70">
                        </el-table-column>
                        <el-table-column prop="Freight"
                                         label="运费"
                                         width="70">
                        </el-table-column>
                        <el-table-column prop="OrderState"
                                         label="订单状态"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="TurePrice"
                                         label="价格"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="PaymentTime"
                                         label="下单时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="ShipmentTime"
                                         label="付钱时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="HarvestTime"
                                         label="签收时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column fixed="right"
                                         label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini"
                                           @@click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                <el-button size="mini"
                                           type="danger"
                                           @@click="handleDelete(scope.$index, scope.row)">删除</el-button>
                            </template>z
                        </el-table-column>
                    </el-table>
                </template>
            </el-tab-pane>
            <el-tab-pane label="已签收" name="fourth">
                <template>
                    <el-table :data="sites"
                              style="width: 100%"
                              height="550"
                              :row-class-name="tableRowClassName">
                        <el-table-column prop="OrderNumber"
                                         label="订单号"
                                         fixed="left"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="UserId"
                                         label="用户ID"
                                         width="70">
                        </el-table-column>
                        <el-table-column prop="Freight"
                                         label="运费"
                                         width="70">
                        </el-table-column>
                        <el-table-column prop="OrderState"
                                         label="订单状态"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="TurePrice"
                                         label="价格"
                                         width="90">
                        </el-table-column>
                        <el-table-column prop="PaymentTime"
                                         label="下单时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="ShipmentTime"
                                         label="付钱时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column prop="HarvestTime"
                                         label="签收时间"
                                         width="180">
                        </el-table-column>
                        <el-table-column fixed="right"
                                         label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini"
                                           @@click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                <el-button size="mini"
                                           type="danger"
                                           @@click="handleDelete(scope.$index, scope.row)">删除</el-button>
                            </template>z
                        </el-table-column>
                    </el-table>
                </template>
            </el-tab-pane>
        </el-tabs>
    </template>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            sites:[]
        },
        created: function () {
            var self = this;
            axios.get('http://localhost:52721/api/orderApi/GetOrders').then(function (res) {
                self.sites = res.data;
                console.log(self.sites);
                for (var o in self.sites) {
                    if (self.sites[o].HarvestTime == "0001-01-01T00:00:00") {
                        self.sites[o].HarvestTime = "";
                        self.sites[o].OrderState = self.sites[o].OrderState == 0 ? "待发货" : "已发货";
                    } else {
                        self.sites[o].OrderState = "已签收";
                    }
                }
            })
        },
        methods: {
            tableRowClassName: function ({ row, rowIndex }) {
                if (row.OrderState =="待发货") {
                    return 'warning-row';
                } else if (row.OrderState =="已发货") {
                    return 'success-row';
                }
                return '';
            },
            handleClick: function (tab) {
                if (tab.name == "first") {
                    var self = this;
                    axios.get('http://localhost:52721/api/orderApi/GetOrders').then(function (res) {
                        self.sites = res.data;
                        console.log(self.sites);
                        for (var o in self.sites) {
                            if (self.sites[o].HarvestTime == "0001-01-01T00:00:00") {
                                self.sites[o].HarvestTime = "";
                                self.sites[o].OrderState = self.sites[o].OrderState == 0 ? "待发货" : "已发货";
                            } else {
                                self.sites[o].OrderState = "已签收";
                            }
                        }
                    })
                } else if (tab.name == "second") {
                    var self = this;
                    axios.get('http://localhost:52721/api/orderApi/GetOrders?TJ=0').then(function (res) {
                        self.sites = res.data;
                        console.log(self.sites);
                        for (var o in self.sites) {
                            if (self.sites[o].HarvestTime == "0001-01-01T00:00:00") {
                                self.sites[o].HarvestTime = "";
                                self.sites[o].OrderState = self.sites[o].OrderState == 0 ? "待发货" : "已发货";
                            } else {
                                self.sites[o].OrderState = "已签收";
                            }
                        }
                    })
                } else if (tab.name == "third") {
                    var self = this;
                    axios.get('http://localhost:52721/api/orderApi/GetOrders?TJ=1').then(function (res) {
                        self.sites = res.data;
                        console.log(self.sites);
                        for (var o in self.sites) {
                            if (self.sites[o].HarvestTime == "0001-01-01T00:00:00") {
                                self.sites[o].HarvestTime = "";
                                self.sites[o].OrderState = self.sites[o].OrderState == 0 ? "待发货" : "已发货";
                            } else {
                                self.sites[o].OrderState = "已签收";
                            }
                        }
                    })
                } else {
                    var self = this;
                    axios.get('http://localhost:52721/api/orderApi/GetOrders?TJ=2').then(function (res) {
                        self.sites = res.data;
                        console.log(self.sites);
                        for (var o in self.sites) {
                            if (self.sites[o].HarvestTime == "0001-01-01T00:00:00") {
                                self.sites[o].HarvestTime = "";
                                self.sites[o].OrderState = self.sites[o].OrderState == 0 ? "待发货" : "已发货";
                            } else {
                                self.sites[o].OrderState = "已签收";
                            }
                        }
                    })
                }
            }
        }
    })
</script>
