@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<link href="~/Content/element-ui.css" rel="stylesheet" />
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/element-ui.js"></script>
<script src="~/Scripts/axios.js"></script>
<link href="~/Content/layui.css" rel="stylesheet" />
<script src="~/Content/layui.js"></script>
<div id="app">
    @*<template>
            <el-table :data="sites"
                      style="width: 100%">
                <el-table-column prop="OrderId"
                                 label="订单ID"
                                 width="90">
                </el-table-column>
                <el-table-column prop="OrderNumber"
                                 label="订单号"
                                 width="100">
                </el-table-column>
                <el-table-column prop="UserId"
                                 label="用户ID"
                                 width="90">
                </el-table-column>
                <el-table-column prop="Freight"
                                 label="运费"
                                 width="90">
                </el-table-column>
                <el-table-column prop="OrderState"
                                 label="订单状态"
                                 width="90">
                </el-table-column>
                <el-table-column prop="TurePrice"
                                 label="价格"
                                 width="80">
                </el-table-column>
                <el-table-column prop="PaymentTime"
                                 label="下单时间">
                </el-table-column>
                <el-table-column prop="ShipmentTime"
                                 label="付钱时间"
                                 width="90">
                </el-table-column>
                <el-table-column prop="HarvestTime"
                                 label="签收时间"
                                 width="90">
                </el-table-column>
            </el-table>

        </template>*@
    <table>
        <tr>
            <th>订单ID</th>
            <th>订单号</th>
            <th>用户ID</th>
            <th>运费</th>
            <th>订单状态</th>
            <th>价格</th>
            <th>下单时间</th>
            <th>付钱时间</th>
            <th>签收时间</th>
        </tr>
        <tr v-for="item in sites">
            <th>{{item.OrderId}}</th>
            <th>{{item.OrderNumber}}</th>
            <th>{{item.UserId}}</th>
            <th>{{item.Freight}}</th>
            <th>{{item.OrderState}}</th>
            <th>{{item.TurePrice}}</th>
            <th>{{item.PaymentTime}}</th>
            <th>{{item.ShipmentTime}}</th>
            <th>{{item.HarvestTime}}</th>
        </tr>
    </table>
    <form action="/" method="post" class="layui-form" enctype="multipart/form-data">
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="test2">多图片上传</button>
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                预览图：
                <div class="layui-upload-list" id="demo2"></div>
            </blockquote>
        </div>
    </form>

</div>
<script>
     new Vue({
        el: '#app',
        data: {
            sites: []
        }
        , created: function () {
            axios.get('http://localhost:52721/api/orderApi/GetOrders').then(function (res) {
                this.sites = res.data;
                console.log(this.sites);
                console.log(123123);
            })
        }
    })
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        //多图片上传
        upload.render({
            elem: '#test2'
            , url: '/upload/'
            , multiple: true
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                });
            }
            , done: function (res) {
                //上传完毕
            }
        });
        //拖拽上传
        upload.render({
            elem: '#test10'
            , url: '/upload/'
            , done: function (res) {
                console.log(res)
            }
        });
    });
</script>
